<div class="row mb-2 border-bottom">
	<div class="col-3">OM:</div>
	<div class="col student-id">@Student.Id</div>
</div>
<div class="row mb-2 border-bottom">
	<div class="col-3">Name:</div>
	<div class="col student-full-name">@Student.FullName</div>
</div>
<div class="row mb-2 border-bottom">
	<div class="col-3">Class:</div>
	<div class="col student-class">@Student.Class</div>
</div>
<div class="row mb-2 border-bottom">
	<div class="col-3">Username:</div>
	<div class="col student-username">@Student.Username</div>
</div>
<div class="row mb-2 border-bottom">
	<div class="col-3 text-nowrap">User Id:</div>
	<div class="col student-uid">@Student.Uid</div>
</div>
<div class="row mb-2 border-bottom">
	<div class="col-3 text-nowrap">Group Id:</div>
	<div class="col student-gid">@Student.Gid</div>
</div>
<div class="row mb-2 border-bottom">
	<div class="col-3">Email:</div>
	<div class="col text-break student-email">@Student.Email</div>
</div>
<div class="row mb-2">
	<div class="col-3">Directory:</div>
	<div class="col student-home-directory">@Student.HomeDirectory</div>
</div>


@code {
	[Parameter]
	public Student Student { get; set; } = default!;
}
