<div class="row mb-2 border-bottom">
	<div class="col-3 col-sm-2">OM:</div>
	<div class="col-4 student-original-id">@StudentOriginal.Id</div>
	<div class="col-1 text-end"><i class="bi bi-arrow-right"></i></div>
	<div class="col-4 student-edited-id">
		@if (StudentOriginal.Id != StudentEdited.Id)
		{
			<strong>@StudentEdited.Id</strong>
		}
		else
		{
			@StudentEdited.Id
		}
	</div>
</div>
<div class="row mb-2 border-bottom">
	<div class="col-3 col-sm-2">Name:</div>
	<div class="col-4 student-original-fullname">@StudentOriginal.FullName</div>
	<div class="col-1 text-end"><i class="bi bi-arrow-right"></i></div>
	<div class="col-4 student-edited-fullname">
		@if (StudentOriginal.FullName != StudentEdited.FullName)
		{
			<strong>@StudentEdited.FullName</strong>
		}
		else
		{
			@StudentEdited.FullName
		}
	</div>
</div>
<div class="row mb-2 border-bottom">
	<div class="col-3 col-sm-2">Class:</div>
	<div class="col-4 student-original-class">@StudentOriginal.Class</div>
	<div class="col-1 text-end"><i class="bi bi-arrow-right"></i></div>
	<div class="col-4 student-edited-class">
		@if (StudentOriginal.Class != StudentEdited.Class)
		{
			<strong>@StudentEdited.Class</strong>
		}
		else
		{
			@StudentEdited.Class
		}
	</div>
</div>

@code {
	[Parameter]
	public Student StudentOriginal { get; set; } = default!;

	[Parameter]
	public Student StudentEdited { get; set; } = default!;
}
