@inherits LayoutComponentBase

<table class="table table-striped">
	<thead>
		<tr>
			<th class="user-select-none" role="button" @onclick="@(() => SortTable("Id"))">
				Id
				@if (sortBy == "Id")
				{
					<i class="bi @GetSortIcon(isAscending)"></i>
				}
				else
				{
					<i class="bi bi-chevron-expand"></i>
				}
			</th>
			<th class="user-select-none" role="button" @onclick="@(() => SortTable("Username"))">
				Username
				@if (sortBy == "Username")
				{
					<i class="bi @GetSortIcon(isAscending)"></i>
				}
				else
				{
					<i class="bi bi-chevron-expand"></i>
				}
			</th>
			<th class="user-select-none" role="button" @onclick="@(() => SortTable("Name"))">
				Name
				@if (sortBy == "Name")
				{
					<i class="bi @GetSortIcon(isAscending)"></i>
				}
				else
				{
					<i class="bi bi-chevron-expand"></i>
				}
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var admin in Admins)
		{
			<tr>
				<td>@admin.Id</td>
				<td>@admin.Username</td>
				<td>@admin.FirstName @admin.LastName</td>
			</tr>
		}
	</tbody>
</table>

@code {
	[Parameter]
	public List<AdminModel> Admins { get; set; } = new();

	private string sortBy = "";
	private bool isAscending = true;

	private void SortTable(string propertyName)
	{
		if (sortBy == propertyName)
		{
			isAscending = !isAscending;
		}
		else
		{
			sortBy = propertyName;
			isAscending = true;
		}

		switch (propertyName)
		{
			case "Id":
				Admins = isAscending 
				? Admins
					.OrderBy(x => x.Id)
					.ToList() 
				: Admins
					.OrderByDescending(x => x.Id)
					.ToList();
				break;

			case "Username":
				Admins = isAscending
				? Admins
					.OrderBy(x => x.Username)
					.ToList()
				: Admins
					.OrderByDescending(x => x.Username)
					.ToList();
				break;

			case "Name":
				Admins = isAscending 
				? Admins
					.OrderBy(x => x.FirstName)
					.ThenBy(x => x.LastName)
					.ToList() 
				: Admins
					.OrderByDescending(x => x.FirstName)
					.ThenByDescending(x => x.LastName)
					.ToList();
				break;

			default:
				break;
		}
	}

	private string GetSortIcon(bool asc) => asc ? "bi-chevron-up" : "bi-chevron-down";
}

