@inherits LayoutComponentBase

<EditForm Model="@studentUpdated" OnValidSubmit="HandleValidSubmit" class="d-flex flex-column gap-2 my-3">
	<DataAnnotationsValidator />

	<div class="row">
		<div class="col text-end">
			@if (IsReadonly)
			{
				<button type="button" class="btn btn-warning px-4" @onclick="ToggleReadonly">
					<i class="bi bi-pen"></i>
				</button>
			}
			else
			{
				<div class="btn-group" role="group">
					@if (CanDelete)
					{
						<button type="button" class="btn btn-danger px-4" @onclick="ToggleReadonly">
							<i class="bi bi-trash-fill"></i>
						</button>
					}
					<button type="submit" class="btn btn-success px-4">
						<i class="bi bi-check-lg"></i>
					</button>
					<button type="button" class="btn btn-primary px-4" @onclick="ToggleReadonly">
						<i class="bi bi-x-lg"></i>
					</button>
				</div>
			}
		</div>
	</div>

	<div class="input-group">
		<label class="input-group-text user-select-none col-3 col-lg-2 col-xxl-1" for="uid">OM</label>
		<InputNumber class="form-control"
					 readonly="@IsReadonly"
					 id="uid"
					 min="@Student.AllowedIdRange.Min"
					 max="@Student.AllowedIdRange.Max"
					 @bind-Value="studentUpdated!.Id" />
	</div>
	<ValidationMessage For="() => studentUpdated.Id" />

	<div class="input-group">
		<label class="input-group-text user-select-none col-12 col-xxl-1">Name</label>
		<label class="input-group-text user-select-none col-6 col-xl-1" for="givenName">First</label>
		<InputText class="form-control" readonly="@IsReadonly" placeholder="First name" id="givenName" @bind-Value="studentUpdated.FirstName" />

		<label class="input-group-text user-select-none col-6 col-xl-1" for="middleName">Middle</label>
		<InputText class="form-control" readonly="@IsReadonly" placeholder="Middle name" id="middleName" @bind-Value="studentUpdated.MiddleName" />

		<label class="input-group-text user-select-none col-6 col-xl-1" for="lastName">Last</label>
		<InputText class="form-control" readonly="@IsReadonly" placeholder="Last name" id="lastName" @bind-Value="studentUpdated.LastName" />
	</div>
	<ValidationMessage For="() => studentUpdated.FirstName" />
	<ValidationMessage For="() => studentUpdated.MiddleName" />
	<ValidationMessage For="() => studentUpdated.LastName" />

	<div class="input-group">
		<label class="input-group-text user-select-none col-12 col-xxl-1">Class</label>
		<label class="input-group-text user-select-none col-6 col-xl-1" for="classYearSelect">Year</label>
		<select class="form-select" id="classYearSelect" disabled="@IsReadonly" @bind="studentUpdated.ClassYear" @onblur="OnClassChange">
			@foreach (var year in Student.AllowedYears)
			{
				<option value="@year" selected="@year.Equals(studentUpdated.ClassYear)">@year</option>
			}
		</select>

		<label class="input-group-text user-select-none col-6 col-xl-1" for="classGroupSelect">Group</label>
		<select class="form-select" id="classGroupSelect" disabled="@IsReadonly" @bind="studentUpdated.ClassGroup" @onblur="OnClassChange">
			@foreach (var group in Student.AllowedGroups)
			{
				<option value="@group" selected="@group.Equals(studentUpdated.ClassGroup)">@group</option>
			}
		</select>

		<label class="input-group-text user-select-none col-6 col-xl-1 text-wrap" for="classSubGroupSelect">Sub Group</label>
		<select class="form-select" id="classSubGroupSelect" disabled="@IsReadonly" @bind="studentUpdated.ClassSubGroup" @onblur="OnClassChange">
			<option value=""></option>
			@foreach (var subGroup in Student.AllowedSubGroups)
			{
				<option value="@subGroup" selected="@subGroup.Equals(studentUpdated.ClassSubGroup)">@subGroup</option>
			}
		</select>
	</div>

	<div class="input-group">
		<label class="input-group-text user-select-none col-3 col-lg-2 col-xxl-1" for="class">Class</label>
		<InputText type="class" class="form-control" readonly="true" id="class" @bind-Value="studentUpdated.Class" />
	</div>
	<ValidationMessage For="() => studentUpdated.Class" />

	<div class="input-group">
		<label class="input-group-text user-select-none col-3 col-lg-2 col-xxl-1" for="cn">Username</label>
		<InputText class="form-control" readonly="@IsReadonly" id="cn" @bind-Value="studentUpdated.Username" />
	</div>
	<ValidationMessage For="() => studentUpdated.Username" />

	<div class="input-group">
		<label class="input-group-text user-select-none col-3 col-lg-2 col-xxl-1" for="uidNumber">User Id</label>
		<InputNumber class="form-control"
					 readonly="@IsReadonly"
					 id="uidNumber"
					 min="@Student.AllowedUidRange.Min"
					 max="@Student.AllowedUidRange.Max"
					 @bind-Value="studentUpdated.Uid" />
	</div>
	<ValidationMessage For="() => studentUpdated.Uid" />

	<div class="input-group">
		<label class="input-group-text user-select-none col-3 col-lg-2 col-xxl-1" for="gidNumber">Group Id</label>
		<InputNumber class="form-control"
					 readonly="@IsReadonly"
					 id="gidNumber"
					 min="@Student.AllowedGidRange.Min"
					 max="@Student.AllowedGidRange.Max"
					 @bind-Value="studentUpdated.Gid" />
	</div>
	<ValidationMessage For="() => studentUpdated.Gid" />

	<div class="input-group">
		<label class="input-group-text user-select-none col-3 col-lg-2 col-xxl-1" for="email">Email</label>
		<InputText class="form-control" readonly="@IsReadonly" id="email" placeholder="Student@example.com" @bind-Value="studentUpdated.Email" />
	</div>
	<ValidationMessage For="() => studentUpdated.Email" />

	<div class="input-group">
		<label class="input-group-text user-select-none col-3 col-lg-2 col-xxl-1" for="homeDirectory">Directory</label>
		<InputText class="form-control" readonly="@IsReadonly" id="homeDirectory" placeholder="/home/Student" @bind-Value="studentUpdated.HomeDirectory" />
	</div>
	<ValidationMessage For="() => studentUpdated.HomeDirectory" />

	<div class="input-group">
		<label class="input-group-text user-select-none col-3 col-lg-2 col-xxl-1" for="password">Password</label>
		<InputText type="password" class="form-control" readonly="@IsReadonly" id="password" @bind-Value="studentUpdated.Password" />
	</div>
	<ValidationMessage For="() => studentUpdated.Password" />
</EditForm>

@code {
	[Parameter]
	public Student TheStudent { get; set; } = StudentFactory.CreateEmptyStudent().Build();

	[Parameter]
	public EventCallback<Student> OnStudentUpdated { get; set; }

	[Parameter]
	public bool IsReadonly { get; set; }

	[Parameter]
	public bool CanDelete { get; set; } = true;

	private Student studentOriginal = StudentFactory.CreateEmptyStudent().Build();
	private Student studentUpdated = StudentFactory.CreateEmptyStudent().Build();

	protected override void OnInitialized()
	{
		studentOriginal = Utils.GetClone<Student>(TheStudent)!;
		studentUpdated = Utils.GetClone<Student>(studentOriginal)!;
		OnClassChange();
	}

	private async Task HandleValidSubmit()
	{
		Console.WriteLine("AWAITING UPDATE");
		await OnStudentUpdated.InvokeAsync(studentUpdated);
	}

	private void ToggleReadonly()
	{
		studentUpdated = Utils.GetClone<Student>(studentOriginal)!;
		IsReadonly = !IsReadonly;
		OnClassChange();
	}

	private void OnClassChange()
	{
		studentUpdated.Class = studentUpdated.GetClass();
	}
}
