@inherits LayoutComponentBase

<table class="table table-striped">
	<thead>
		<tr>
			<th class="user-select-none" role="button" @onclick="@(() => SortTable("Uid"))">
				Uid
				@if (sortBy == "Uid")
				{
					<i class="bi @GetSortIcon(isAscending)"></i>
				}
				else
				{
					<i class="bi bi-chevron-expand"></i>
				}
			</th>
			<th class="user-select-none" role="button" @onclick="@(() => SortTable("Username"))">
				Username
				@if (sortBy == "Username")
				{
					<i class="bi @GetSortIcon(isAscending)"></i>
				}
				else
				{
					<i class="bi bi-chevron-expand"></i>
				}
			</th>
			<th class="user-select-none" role="button" @onclick="@(() => SortTable("OM"))">
				OM
				@if (sortBy == "OM")
				{
					<i class="bi @GetSortIcon(isAscending)"></i>
				}
				else
				{
					<i class="bi bi-chevron-expand"></i>
				}
			</th>
			<th class="user-select-none" role="button" @onclick="@(() => SortTable("Name"))">
				Name
				@if (sortBy == "Name")
				{
					<i class="bi @GetSortIcon(isAscending)"></i>
				}
				else
				{
					<i class="bi bi-chevron-expand"></i>
				}
			</th>
			<th class="user-select-none" role="button" @onclick="@(() => SortTable("Class"))">
				Class
				@if (sortBy == "Class")
				{
					<i class="bi @GetSortIcon(isAscending)"></i>
				}
				else
				{
					<i class="bi bi-chevron-expand"></i>
				}
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var student in Students)
		{
			<tr>
				<td>@student.Uid</td>
				<td>@student.Username</td>
				<td>@student.OM</td>
				<td>@student.GetFullName()</td>
				<td>@student.Class</td>
			</tr>
		}
	</tbody>
</table>

@code {
	[Parameter]
	public List<Student> Students { get; set; } = new();

	private string sortBy = "";
	private bool isAscending = true;

	private void SortTable(string propertyName)
	{
		if (sortBy == propertyName)
		{
			isAscending = !isAscending;
		}
		else
		{
			sortBy = propertyName;
			isAscending = true;
		}

		switch (propertyName)
		{
			case "Uid":
				Students = isAscending
				? Students
					.OrderBy(x => x.Uid)
					.ToList()
				: Students
					.OrderByDescending(x => x.Uid)
					.ToList();
				break;

			case "OM":
				Students = isAscending
				? Students
					.OrderBy(x => x.OM)
					.ToList()
				: Students
					.OrderByDescending(x => x.OM)
					.ToList();
				break;

			case "Username":
				Students = isAscending
				? Students
					.OrderBy(x => x.Username)
					.ToList()
				: Students
					.OrderByDescending(x => x.Username)
					.ToList();
				break;

			case "Name":
				Students = isAscending
				? Students
					.OrderBy(x => x.FirstName)
					.ThenBy(x => x.LastName)
					.ToList()
				: Students
					.OrderByDescending(x => x.FirstName)
					.ThenByDescending(x => x.LastName)
					.ToList();
				break;

			case "Class":
				Students = isAscending
				? Students
					.OrderBy(x => x.Class)
					.ToList()
				: Students
					.OrderByDescending(x => x.Class)
					.ToList();
				break;

			default:
				break;
		}
	}

	private string GetSortIcon(bool asc) => asc ? "bi-chevron-up" : "bi-chevron-down";
}

